<div class="searchsec">
  <div class="search-result">
  <br>
  <% if @products.blank? %>
    <br>
    <div class="search-info-title">搜索信息不能为空，请输入关键字搜索</div>
  <% else %>
    <div class="search-info-title"> 有关"<%= @query_string %>"的产品信息 </div>
    <div class="searchpdu">
      <ul >
        <% @products.each do |product|%>

            <li class="item">
              <%= link_to product_path(product) do %>
                <% if product.photos.present? %>
                  <div class="pic">
                    <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail", size: "200x200") %>
                  </div>
                <% else %>
                  <div class="pic">
                    <%= image_tag("http://placehold.it/200x200&text=NoPic",class: "thumbnail",size: "200x200")%>
                  </div>
                <% end %>
              <% end %>
              <div class="name">
                <%= product.title %>
              </div>
              <div class="price">
                ¥ <%= product.price%>
              </div>
            </li>

        <% end %>
      </ul>


      </div>
    </div>
    <div class="text-center">
      <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div><!-- wdt1200-->
</div>
