<div class="goods-detail-sec secbakgrd ">
  <div class="secmid ">

    <div class="container-fluid wdt1200 ">
    	<ul class="breadcrumb">
      	<li class="note-color">您的位置：</li>
        <li><a href="/" class="fontlink;">首页</a></li>
        <li class="divider-sm">/</li>
        <li class="active"><%= @product.category.name %></li>
        <li class="divider-sm">/</li>
        <li class="active"><%= @product.title %></li>
      </ul>
    </div> <!--breadcrumb -->

    <div class="gods-detail-box">
      <div class="container-fluid wdt1200 ">
         <div class="gods-detail-pic">
          <div class="gods-main-pic">
              <% if @photos.present? %>
              <a class="magnifier-wrapper" href="#">
                <%= image_tag(@photos.first.avatar.medium.url, class: "thumbnail",size: "400x400") %>
              </a>
              <% else %>
                <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
              <% end %>
          </div>

          <ul class="goods-thumb-pic">
            <% if @photos.present? %>
              <% @photos.each_with_index do |p, index| %>
                <% if index == 0 %>
                  <li class="border intro-preview-item intro-preview-activeItem fl">
                <% else %>
                  <li class="border intro-preview-item fl">
                <% end %>
                <% if index < 5 %>
                  <%= image_tag(p.avatar.medium.url,size: "74x74") %>
                <% end %>
                  </li>
              <% end %>
            <% end %>
          </ul>
        </div><!--gods-detail-pic -->
          <div class="gods-detail-info">
            <div style="font-size:24px;"> <%= @product.title %>
            </div>
            <p class="desc" style="padding-top:10px;color: #999;">
                <%= @product.description %>
            </p>
            <div class="price-box">
              <div class="goods-params">
                 <div class="params-key">
                   售价
                 </div>
                 <div class="params-value">
                   <strong class="sale-price"> ¥<%= @product.price %></strong>
                 </div>
              </div>

              <div class="goods-params">
                 <div class="params-key">
                   市场价
                 </div>
                 <div class="params-value">
                   <del> ¥<%= @product.decprice %></del>
                 </div>
              </div>
            </div>

            <div class="goods-params">
               <div class="params-key">
                 库存
               </div>
               <div class="params-value">
                 <%= @product.quantity %>
               </div>
            </div>
            <div>


            <div class="">
              <% if @product.quantity.present? && @product.quantity > 0 %>
                <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post,
                    class: "btn btn-lg btn-primary") %>
             <% else %>
                已销售一空，无法购买
             <% end %>
           </div>
         </div> <!--gods-detaile-info -->
       </div>
    </div>
  </div><!-- gods-detail-box-->

    <div class="goodsbar j_goodsbar">
    	<div class="container wdt1200 ">
      	<div class="pull-left goods">
        	<div class="pic">
          <!--<%#= image_tag(@product.image.medium.url, size: "58x58" ) %>-->
            <%= image_tag(@product.photos[0].avatar.thumb.url, class: "thumbnail", size: "58x58") %>
          </div>
          <div class="name">
          	<div class="nav-name"><%= @product.title%></div>
            <strong>本店价：￥<%= @product.price %></strong>
          </div>
        </div>
        <h3 class="pull-left tab-nav" data-target="#J_tabContentItemDetail">
        	<a class=" item nav-item active fontlink" href="#">商品详情</a>
        	<a class=" item nav-item fontlink">买家评价（<%= @product.reviews.count %>）</a>
        </h3>
        <div class="pull-right btns">
        	                    <!--<button class="btn btn-primary" type="button">立即购买</button>-->
          <button class="btn btn-primary j_addCart" type="button" data-auto="0">
            <i class="fa fa-cart-plus"></i>
            <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post) %>

          </button>
          </div>
        </div>
    </div><!-- goodsbar -->

    <div class="container-fluid wdt1200 ">
        <div class="history-box">
          <div class="title">
            <span>看了又看</span>
          </div>

          <ul class="goods-list has-space">
            <% Product.limit(6).each do |product| %>
                  <li>
                    <%= link_to(product_path(product), class: "item")  do %>
                     <div class="pic">
                      <% if product.photos.present? %>
                        <%= image_tag(product.photos[0].avatar.thumb.url, class: "", size: "160x160") %>
                      <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                      <% end %>

                    </div>

                    <div class="name">
                     <%= @product.title%>
                    </div>
                    <div class="price">
                     ¥<%= @product.price %>
                     <span>
                     <del style="color: #999;padding-left:10px;">    ¥<%= @product.decprice %></del></span>
                    </div>
                      <% end %>
                </li>

            <% end %>

          </ul>



        </div><!-- history-box 历史产品记录-->
        <div class="detail-box">
          <div class="params-box">
            <strong>产品名称：</strong>
            <%= @product.title%>
          </div>

          <div class="shopping-box">

          </div>

          <div class="advantage-box">
            <div class="item">
              <h3> <strong> 原装正品100%</strong></h3>
              <p>
                “淘淘乐自营”
                <br>
                "海外直接采购，全程政府监管"
              </p>
            </div>

            <div class="item">
              <h3> <strong> 原装正品100%</strong></h3>
              <p>
                “淘淘乐自营”
                <br>
                "海外直接采购，全程政府监管"
              </p>
            </div>

            <div class="item">
              <h3> <strong> 原装正品100%</strong></h3>
              <p>
                “淘淘乐自营”
                <br>
                "海外直接采购，全程政府监管"
              </p>
            </div>

          </div>
          <div class="detail">
          <div class="test-item" style="display: block;">
            <div class="descr-box">
              <p>
                <% if @goodsdetails.present? %>
                  <% @goodsdetails.each_with_index do |p, index| %>
                    <%= image_tag p.avatar.medium.url %>
                  <% end %>
                <% else %>
                  <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
                <% end %>
              </p>
            </div> <!-- 产品详情页 descr-box-->
          </div>


          <div class="test-item">
            <div class="comment-box">
              <h3 class="reviews_title">
                共 <%= @product.reviews.count %> 个评价
              </h3>
            <hr>

            <div id="reivews">
              <!--<div class="">
                味道 : <%= rating_for @product, 'speed', disable_after_rate: true, star_path: '/images/ratyrate' %>
              </div> -->
              <%= render @product.reviews%>

              <%= render "reviews/form"%>


            </div>

          </div> <!-- 产品评论页comment-box-->
        </div>
      </div><!--detail -->
    </div><!--detail box-->
  </div>


  </div>
</div>
